

body{
    margin: 0;
}


.nav-section{
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin-top: 50px;
  margin: auto;

}
.links>ul{
    display: flex;
    
}

.links>ul>li{
    display: flex;
    list-style: none;
    margin-right: 34px;
    align-items: center;
}
.links>ul>li>a{
    text-decoration: none;
    color: #000000;
    
}
.heading{
    display: flex;justify-content: space-around;
    
}
.main-heading{
    width: 40%;
}
.main-heading>h1{
    font-size: 52px;
    font-weight: 700;
}
.main-heading>p{
    font-weight: 600;
    font-size: 16px;
}
.main-camera{
    width: 475px;
    height: 475px;
    background-image: url(images/Circle\ design.svg);
    
}
.main-camera>img{
    padding: 20px;
    
}
.button{
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px 10px 24px;  
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;     
}
.fas{
    padding-left: 10px;
    font-size: 20px;
}
.logos{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(#ffffff, darkgray, #ffffff) 9;
    margin-top: 100px;
    
}
.logos>img{
    margin: 20px;
    
}
